{% extends '::layout.html.twig' %}

{% block stylesheets %}

    {% stylesheets filter='cssrewrite'
    '@DefaultBundle/Resources/public/css/dropzone.css'
    '@DefaultBundle/Resources/public/css/demo.css'
    '@DefaultBundle/Resources/public/css/style.css'
    '@DefaultBundle/Resources/public/css/noJS.css'
    '@DefaultBundle/Resources/public/css/gamma.css' %}

    <link rel="stylesheet" href="{{ asset_url }}"/>

    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% if folder %}
        <h1 class="tile-area-title" style="text-align: center">{{ folder.name }}</h1><br>

        <div data-role="charm" data-position="left" id="left-charm">
            <h1 class="text-light">Parametres</h1><br>
            {{ form_start(form_folder) }}
            {{ form_errors(form_folder) }}
            <div class="cell">
                <label>Nom</label>
                <div class="input-control text full-size">
                    {{ form_errors(form_folder.name) }}
                    {{ form_widget(form_folder.name) }}
                </div>
            </div>
            <br>
            <div class="cell">
                <label>Taille</label>
                <div class="input-control text full-size">
                    {{ form_errors(form_folder.size) }}
                    {{ form_widget(form_folder.size) }}
                </div>
            </div>
            <br>
            <div class="cell">
                <label>Cover photo</label>
                <div class="input-control text full-size">
                    <div class="input-control file" data-role="input">
                        <input type="file">
                        <button class="button"><span class="mif-folder"></span></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="cell">
                <label>Public URL to edit</label>
                <div class="input-control text full-size">
                    <div class="input-control file full-size" data-role="input">
                        <input value="http://share/folder/edit/{{ folder.editSlug }}" type="text"
                               class="input-file-wrapper" readonly="" style="z-index: 1; cursor: default;">
                        <button class="button" type="button"><span class="mif-folder"></span></button>
                    </div>
                </div>
            </div>
            <div class="cell">
                <label>Public URL to show</label>
                <div class="input-control text full-size">
                    <div class="input-control file full-size" data-role="input">
                        <input value="http://share/folder/show/{{ folder.showSlug }}" type="text"
                               class="input-file-wrapper" readonly="" style="z-index: 1; cursor: default;">
                        <button class="button" type="button"><span class="mif-folder"></span></button>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="button rounded">Save</button>
            {{ form_rest(form_folder) }}
            {{ form_end(form_folder) }}
            <br>
        </div>

        <div class="padding20 align-center">
            <button class="button" onclick="showCharm('left')"><span class="mif-cog"></span> Parametres</button>
        </div>

        <form enctype="multipart/form-data" class="dropzone" action="{{ app.request.uri }}" method="post"
              name="acme_dropzone_form" id="acme_dropzone_form">
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </form>
        <div class="gamma-container gamma-loading" id="gamma-container">
            <ul class="gamma-gallery">
                {% for image in images %}
                    <li>
                        <div data-alt="image" data-description='<h3>Sky high</h3>' data-max-width="1800"
                             data-max-height="1350">
                            <div data-src="{% path image.media, 'big' %}" data-min-width="1300"></div>
                            <div data-src="{% path image.media, 'big' %}" data-min-width="1000"></div>
                            <div data-src="{% path image.media, 'big' %}" data-min-width="700"></div>
                            <div data-src="{% path image.media, 'big' %}" data-min-width="300"></div>
                            <div data-src="{% path image.media, 'big' %}" data-min-width="200"></div>
                            <div data-src="{% path image.media, 'big' %}" data-min-width="140"></div>
                            <div data-src="{% path image.media, 'big' %}"></div>
                            <noscript>
                                <img src="{% path image.media, 'big' %}"/>
                            </noscript>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="gamma-overlay"></div>
        </div>


    {% else %}
        No folder found
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@DefaultBundle/Resources/public/js/modernizr.custom.70736.js'
    '@DefaultBundle/Resources/public/js/jquery.masonry.min.js'
    '@DefaultBundle/Resources/public/js/jquery.history.js'
    '@DefaultBundle/Resources/public/js/js-url.min.js'
    '@DefaultBundle/Resources/public/js/jquerypp.custom.js'
    '@DefaultBundle/Resources/public/js/gamma.js'
    '@DefaultBundle/Resources/public/js/dropzone.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function () {
            var GammaSettings = {
                // order is important!
                viewport: [{
                    width: 1200,
                    columns: 5
                }, {
                    width: 900,
                    columns: 4
                }, {
                    width: 500,
                    columns: 3
                }, {
                    width: 320,
                    columns: 2
                }, {
                    width: 0,
                    columns: 2
                }]
            };
            Gamma.init(GammaSettings, fncallback);
            // Example how to add more items (just a dummy):
            var page = 0,
                    items = ['<li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="images/xlarge/3.jpg" data-min-width="700"></div><div data-src="images/large/3.jpg" data-min-width="300"></div><div data-src="images/medium/3.jpg" data-min-width="200"></div><div data-src="images/small/3.jpg" data-min-width="140"></div><div data-src="images/xsmall/3.jpg"></div><noscript><img src="images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="images/xlarge/3.jpg" data-min-width="700"></div><div data-src="images/large/3.jpg" data-min-width="300"></div><div data-src="images/medium/3.jpg" data-min-width="200"></div><div data-src="images/small/3.jpg" data-min-width="140"></div><div data-src="images/xsmall/3.jpg"></div><noscript><img src="images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="images/xlarge/3.jpg" data-min-width="700"></div><div data-src="images/large/3.jpg" data-min-width="300"></div><div data-src="images/medium/3.jpg" data-min-width="200"></div><div data-src="images/small/3.jpg" data-min-width="140"></div><div data-src="images/xsmall/3.jpg"></div><noscript><img src="images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="images/xlarge/3.jpg" data-min-width="700"></div><div data-src="images/large/3.jpg" data-min-width="300"></div><div data-src="images/medium/3.jpg" data-min-width="200"></div><div data-src="images/small/3.jpg" data-min-width="140"></div><div data-src="images/xsmall/3.jpg"></div><noscript><img src="images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="images/xlarge/3.jpg" data-min-width="700"></div><div data-src="images/large/3.jpg" data-min-width="300"></div><div data-src="images/medium/3.jpg" data-min-width="200"></div><div data-src="images/small/3.jpg" data-min-width="140"></div><div data-src="images/xsmall/3.jpg"></div><noscript><img src="images/xsmall/3.jpg" alt="img03"/></noscript></div></li>']

            function fncallback() {
                $('#loadmore').show().on('click', function () {
                    ++page;
                    var newitems = items[page - 1]
                    if (page <= 1) {
                        Gamma.add($(newitems));
                    }
                    if (page === 1) {
                        $(this).remove();
                    }
                });
            }
        });
    </script>
{% endblock %}